{% set page = gathercontent.pages['home'] %}
<article class="{{page.name|slug}}">

  <h1 class="{{page.name|slug}}--title">{{page.name}}</h1>

  {% if page.components|length > 0 %}
  <ul class="components">
    {% for component in page.components %}
    <li class="{{component.type}}">
      <label>{{component.label}}</label>
      <h2 class="{{component.title|slug}}--title">{{component.title}}</h2>
      <h3 class="subtitle">{{component.subtitle}}</h3>
      <h4 class="type">{{component.type}}</h4>
      <div class="value">{{component.value}}</div>
      <div class="microcopy">{{component.microcopy}}</div>

      {% if component.components|length > 0 %}
      <ul>
        {% for subComponent in component.components %}
        <li>
          <label>{{subComponent.label}}</lavel>
          <h2 class="{{subComponent.title|slug}}--title">{{subComponent.title}}</h2>
          <h3 class="subtitle">{{subComponent.subtitle}}</h3>
          <h4 class="type">{{subComponent.type}}</h4>
          <div class="value">{{subComponent.value}}</div>
          <div class="microcopy">{{subComponent.microcopy}}</div>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if page.children|length > 0 %}
  <ul>
    {% for child in page.children %}
    <li>
      <h2 class="{{child.title|slug}}--title">{{child.title}}</h2>
      <h3 class="{{child.name|slug}}">{{child.name}}</h3>
      <h4 class="{{child.type|slug}}">{{child.type}}</h4>
      {% if child.components|length > 0 %}
      <ul>
        {% for childComponent in child.components %}
        <li>
          <label>{{childComponent.label}}</lavel>
          <h2 class="{{childComponent.title|slug}}--title">{{childComponent.title}}</h2>
          <h3 class="subtitle">{{childComponent.subtitle}}</h3>
          <h4 class="type">{{childComponent.type}}</h4>
          <div class="value">{{childComponent.value}}</div>
          <div class="microcopy">{{childComponent.microcopy}}</div>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</article>
