<h1>{{gathercontent.pages['about-us'].name}}</h1>
{% for key, child in gatherContent['about-us'].children %}
  <section class="{{key}}">
    <h2>» {{ child.name }}</h2>
    {% if child.elements %}
      {% for element in child.elements %}
        {{element.name}}
        {{element.value}}
      {% endfor %}
    {% endif %}
    {% if child.components %}
      {% for component in child.components %}
        <div>
          {{component.name }}
        </div>
      {% endfor %}
    {% endif %}
  </section>
{% endfor %}
